.cabecera {
    position: relative;
    background-color: black;
    margin-bottom: 40px;
    padding: 30px 0;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo {
    
}

.datos {
    
}

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom30 { margin-bottom:30px; }
