<html>
	<head></head>
	<body>

	<table width=400 border=0 cellpadding=0 cellspacing="0" >
	  <tr>
		<td >
		  	<p style="font-size:10.0pt; font-family:Arial,sans-serif; color:#666666;">
				<strong>Ha ocurrido un error con el envío del prospecto </strong>
			</p>
		  	<p style="font-size:10.0pt; font-family:Arial,sans-serif; color:#666666;">
				<strong>{{ url }}</strong>
			</p>
		  	<p style="font-size:10.0pt; font-family:Arial,sans-serif; color:#666666;">
				<strong>{{ error }}</strong>
			</p>
		</td>
	  </tr>
	</table>
	<table width=350  border="0"align="center" cellpadding=0 bordercolor="#999999" bgcolor="#F4F4F4"">
		<tr>
		  	<td width="10" >&nbsp;</td>
		  	<td>
		        {% for key, valor in campos %}
			       	<p style="font-height: 20px;">
		         		{{ key }}: {{ valor }}
		         	</p>
				{% endfor %}
			</td>
		</tr>
	</table>

	<form name="enviar_email" url="http://52.35.194.190/~awplatform/index.php/subscribe/formlead" role="form" enctype='application/json'>
		{% for key, valor in campos %}
			<input type="hidden" name="{{ key }}" value="{{ valor }}" />
		{% endfor %}
		<p>
			Para registrar la información de este prospecto, haga
			<a href="#" onclick="document.getElementById('enviar_email').submit();">
				click aquí
			</a>
		</p>
	</form>


	<table width=650 border=0 cellpadding=0 cellspacing="0" >
	  <tr>
	    <td> <p style="font-size:10pt;font-family:Arial,sans-serif; color:#666666;">
	    Mensaje generado autom&aacute;ticamente<br>
		</td>
	  </tr>
	</table>

	</body>
</html>
