<html>
	<head></head>
	<body>


	<table width=400 border=0 cellpadding=0 cellspacing="0" >
	  <tr>
		<td >
		  <p style="font-size:10.0pt; font-family:Arial,sans-serif; color:#666666;">
			  <strong>Ha recibido un nuevo contacto</strong><br>
	    </p></td>
	  </tr>
	</table>
	<br />

<table width=400 border=0 cellpadding=0 cellspacing="0" >
  <tr>
    <td ><table width=350 border=0 align="center" bgcolor="#DFDFDF"  bordercolor="#999999" >
      <tr>
        <td width="10">
       <p style="font-size:13pt; font-family:Arial,sans-serif; color: #666;"></p></td>
        <td width="330"><span style="font-size:13pt; font-family:Arial,sans-serif; color: #000;"></span></td>
      </tr>
    </table>

      <table width=350  border="0"align="center" cellpadding=0 bordercolor="#999999" bgcolor="#F4F4F4"">
        <tr>
          <td width="10" >&nbsp;</td>
          <td><p style="font-size:10pt;font-family:Arial,sans-serif; color:#666666;">

          	{% for key, valor in campos %}
			       <p style="line-height: 15px;">
             {{ key }}: {{ valor }}
             </p>
		      {% endfor %}

        </tr>
	    </table>
    <br /></td>
  </tr>
</table>

<table width=650 border=0 cellpadding=0 cellspacing="0" >
  <tr>
    <td>
		<p style="font-size:10pt;font-family:Arial,sans-serif; color:#666666;">
    		Mensaje generado autom&aacute;ticamente<br>
		</p>
	</td>
  </tr>
</table>



</body></html>
